* { box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    background-color: #1e1e2f;
    color: #f8f9fa;
    font-family: 'Merriweather', serif;
    font-size: larger;
}

.header, .footer {
    padding: 20px 0;
}

.president-card {
    border: 5px solid black;
    border-radius: 12px;
    box-shadow: 0 4px 14px #0000001a
}

.president-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px #00000026;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-link:hover {
    color: white;
}

.card-footer .link:hover {
    color: #0056b3;
}

.president-link:hover {
    color: white;
}



